.align-Center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 1rem;
}

.customButton {
  width: 50%;
}

@media (max-width: 600px) {
  h2 {
    font-size: 14px;
    margin-top: 10px;
  }

  input {
    font-size: 14px;
  }

  .custom-alert {
    font-size: 14px;
  }

  .customButton {
    font-size: 16px;
  }
}
