<div class="container">
  <h2>Enter New Password to update</h2>
  <hr />
  <div class="row" style="text-align: left;">
    <div class="col-md-12">
      <form #forgotPasswordForm="ngForm" (ngSubmit)="updatePassword()">
        <div class="form-group text-center mt-5">
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            #userPassword="ngModel"
            class="form-control mt-3"
            placeholder="Enter New Password"
            required
          />
        </div>
        <div
          [hidden]="userPassword.valid || userPassword.pristine"
          class="alert alert-danger custom-alert"
        >
          Password is required
        </div>
        <div class="align-Center mt-5">
          <button
            type="submit"
            class="btn btn-primary customButton"
            [disabled]="!forgotPasswordForm.form.valid"
          >
            Update Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loading-bar *ngIf="loading"></app-loading-bar>
