<h2>Enter Credentials To Login</h2>
<hr />

<div class="align-Center">
  <form
    class="text-center border border-light p-5"
    #loginForm="ngForm"
    (ngSubmit)="loginUser()"
  >
    <div class="form-group"></div>
    <input
      type="email"
      id="emailId"
      name="emailId"
      [(ngModel)]="emailId"
      class="form-control mb-4 form-input"
      placeholder="Enter Email Address"
      [pattern]="emailPattern"
      required
      autofocus
    />

    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      class="form-control mb-4"
      placeholder="Enter Password"
      required
    />

    <div class="d-flex justify-content-around">
      <div>
        <a href="javascript: void(0);" (click)="showForgotPassword()"
          >Forgot password?</a
        >
      </div>
    </div>

    <button
      class="btn btn-lg btn-primary login-btn w-50"
      type="submit"
      [disabled]="!loginForm.form.valid"
    >
      Sign in
    </button>

    <p>
      Not a member? <a href="" [routerLink]="['/registration']">Register</a>
    </p>
  </form>
</div>

<div *ngIf="showForgotPasswordDialog" class="overlay-popup">
  <div class="container">
    <p>Forgot Password</p>
    <hr />
    <div class="row" style="text-align: left;">
      <div class="col-md-12">
        <form #forgotPasswordForm="ngForm" (ngSubmit)="processForgotPassword()">
          <div class="form-group text-center">
            <input
              type="email"
              id="forgotPasswordEmail"
              name="forgotPasswordEmail"
              [(ngModel)]="forgotPasswordEmail"
              class="form-control margin-top"
              placeholder="Enter Email Address"
              [pattern]="emailPattern"
              required
              #email="ngModel"
            />
          </div>
          <div
            [hidden]="email.valid || email.pristine"
            class="alert alert-danger"
          >
            Email Id Is Required
          </div>

          <div class="align-right mt-3">
            <button
              class="btn btn-primary mr-1 btn-sm"
              (click)="hideForgotPasswordDialog()"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary btn-sm"
              [disabled]="!forgotPasswordForm.form.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-loading-bar *ngIf="loading"></app-loading-bar>
